h4 {
    position: relative;
    left: 80pt;
    color: white;
    background: teal;
    padding: 10pt;
    margin: -10pt
}

body {
    background: rgb(228, 226, 226);
    width: 100%
}

.nav-item {
    padding-left: 5pt;
    padding-right: 25pt

}

.container {
    height: 100%
    min-
}

.col-sm-7 {
    margin-top: 25pt;
    margin-left: 30pt;
    margin-right: 25pt;
    background: white;
    padding: 25pt
}

.col-sm-4 {
    margin-top: 25pt;
    margin-right: 30pt;
    background: white;
    padding: 25pt
}

h2 {
    color: teal;
    padding-bottom: 10pt
}


h3 {
    color: teal
}

.img {
    float:left
}

p {
    margin-top:25pt
}